@use "@/styles/0-settings/breakpoints" as b;
@use "@/styles/1-tools/media-queries.scss" as mq;

:root {
  --app-min-width: #{b.$app-min};
  --app-max-width: #{b.$app-max};

  --wrapper-sm-max-width: #{b.$wrapper-sm};
  --wrapper-md-max-width: #{b.$wrapper-md};
  --wrapper-lg-max-width: #{b.$wrapper-lg};

  --wrapper-padding-inline: var(--sp-500);

  --navbar-current-height: 0px;

  // --section-padding-block: 5rem;
  // --sidebar-width: 300px;
  // --gutter-spacing: 20px;
  // --section-margin-bottom: 30px;
  // --container-border-radius: 8px;

  @include mq.above(lg) {
    --wrapper-padding-inline: var(--sp-600);
  }
}
