:root {
  // box shadow
  // --bs-default: 0 2px 5px hsl(0 0% 0% / 20%);
  --bs-light: 0 2px 5px rgba(0, 0, 0, 0.1);
  --bs-medium: 0 4px 10px rgba(0, 0, 0, 0.15);
  --bs-dark: 0 8px 20px rgba(0, 0, 0, 0.2);
}
