.show-more {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  padding-inline: var(--sp-400);
}

.show-more__button {
  grid-area: stack;
  justify-self: center;
}

.show-more__count {
  grid-area: stack;
  justify-self: end;
  color: var(--clr-secondary-300);
  @include semibold-200;
}
