.section {
  padding: var(--sp-400);
  border-radius: var(--br-md);
  background-color: var(--clr-primary-0);

  @include above(sm) {
    padding: var(--sp-500);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-end: var(--sp-500);

  @include above(sm) {
    margin-block-end: var(--sp-600);
  }
}

.heading {
  margin-block-end: var(--sp-200);
  color: var(--clr-secondary-500);
  @include bold-300;

  @include above(sm) {
    @include bold-500;
  }
}

.subheading {
  color: var(--clr-secondary-300);
  @include medium-100;

  @include above(sm) {
    @include medium-200;
  }
}

.step-status {
  color: var(--clr-secondary-300);
  @include medium-100;

  @include above(sm) {
    align-self: end;
    @include medium-200;
  }
}
