.content {
  display: grid;
  column-gap: var(--sp-600);
  row-gap: var(--sp-600);

  @include above(md) {
    grid-template-columns: 1.7fr 1fr;
  }
}

.rental-summary-column {
  @include above(md) {
    order: 2;

    > * {
      position: sticky;
      top: 0px;
    }
  }
}

.billing-form-column {
  @include above(md) {
    order: 1;
  }
}
