// https://www.smashingmagazine.com/2022/10/fluid-typography-clamp-sass-functions/
// https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/

@use "sass:math";
@use "sass:meta";

@use "@/styles/0-settings/breakpoints.module" as b;

@use "./get-breakpoint-value" as *;
@use "./px-to-rem" as *;
@use "./round" as *;

@function resolve-breakpoint($breakpoint, $breakpointsMap) {
  @if meta.type-of($breakpoint) == "string" {
    @return get-breakpoint-value($breakpointsMap, $breakpoint);
  }
  @return $breakpoint;
}

@function fluid(
  $min-value,
  $max-value,
  $min-breakpoint: "sm",
  $max-breakpoint: "md"
) {
  $min-breakpoint: resolve-breakpoint($min-breakpoint, b.$fluidMap);
  $max-breakpoint: resolve-breakpoint($max-breakpoint, b.$fluidMap);

  $slope: math.div($max-value - $min-value, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: round($slope * 100); // Returns unitless value
  $intercept-rem: round(px-to-rem($min-value - $slope * $min-breakpoint));

  $min-value-rem: round(px-to-rem($min-value));
  $max-value-rem: round(px-to-rem($max-value));

  @return clamp(
    #{$min-value-rem},
    #{$intercept-rem} + #{$slope-to-unit}vw,
    #{$max-value-rem}
  );
}
