.page-layout {
  display: grid;
  grid-template-columns: 360px 1fr;
}

.section {
  display: flex;
  flex-direction: column;
  padding-block-start: var(--sp-600);
  padding-block-end: var(--sp-950);
  padding-inline: var(--sp-600);
}

.footer {
  display: grid;
  align-items: center;
  row-gap: var(--sp-700);
  margin-block-start: auto;

  @include above(sm) {
    grid-template-areas: "stack";
  }
}

.pagination {
  justify-self: center;

  @include above(sm) {
    grid-area: stack;
  }
}

.total-cars-count {
  justify-self: center;
  color: var(--clr-secondary-300);
  @include semibold-200;

  @include above(sm) {
    grid-area: stack;
    justify-self: end;
  }
}
