@use "@/styles/1-tools/rem" as *;

.icon-button {
  --_button-size: auto;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: var(--_button-size);
  width: var(--_button-size);
  min-height: var(--_button-size);
  height: var(--_button-size);
  // aspect-ratio: 1;
  // padding-inline: 0px;
  // padding-block: 0px;
  border-width: var(--bw-thin);
  border-style: var(--bs-base);
  border-color: transparent;
  border-radius: var(--br-circle);
  background-color: transparent;
  color: currentColor;
  text-decoration: none;
  transition: border-color var(--ts-fast), background-color var(--ts-fast);

  &--secondary {
    border-color: var(--clr-secondary-200);
    background-color: transparent;
    color: var(--clr-secondary-400);

    &:hover {
      border-color: var(--clr-secondary-300);
      background-color: transparent;
      color: var(--clr-secondary-400);
    }
  }

  &--minimal {
    border-color: transparent;
    background-color: transparent;
    color: var(--clr-secondary-400);
  }

  &--sm {
    --_button-size: #{rem(28px)};
  }

  &--md {
    --_button-size: #{rem(44px)};
  }
}
